@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.button {
  padding: 18px 16px;
  font-size: 12px;
  font-weight: 300;
  color: colors.$TEXT_PRIMARY;
  background: colors.$WHITE;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s;

  &.primary {
    color: colors.$WHITE;
    background-color: colors.$PRIMARY;

    &:hover {
      color: colors.$WHITE;
      background: colors.$ERROR;
      transition: 0.6;
    }
  }

  &.extraLarge {
    width: 320px;
    height: 42px;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 500;
    border: solid 1px colors.$PRIMARY;
    border-radius: 0;

    @include responsive.after(SD) {
      width: 546px;
      height: 62px;
      font-size: 18px;
    }
  }
}
