@use '/src/styles/constants/colors';

.categoryInput {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 320px;
  height: 40px;
  padding: 4px 10px;
  background-color: colors.$INPUT_BG;
  border-radius: 4px;

  input {
    width: 100%;
    color: colors.$WHITE;
    text-align: center;
    cursor: pointer;
  }

  .arrowIcon {
    width: 32px;
    color: colors.$TEXT_WHITE;
    cursor: pointer;
    transition: 0.2s;
  }

  .arrowIconOpen {
    width: 32px;
    color: colors.$TEXT_WHITE;
    cursor: pointer;
    transition: 0.2s;
    transform: rotate(-180deg);
  }
}

.menuContainer {
  position: relative;
  z-index: 1000;
  width: 100%;

  .menu {
    display: none;
  }

  .menuActive {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: colors.$WHITE;

    li {
      align-items: center;
      padding: 4px;
      text-align: center;

      button {
        width: 100%;
      }
    }

    li:hover {
      background: colors.$INPUT_BG;
      opacity: 1.2;

      button {
        color: colors.$TEXT_WHITE;
      }
    }
  }
}
